//- This template renders customized information, links, and images pertaining to each project.

extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1= thisProjData.project_name
        p.lead.text-light= thisProjData.description
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies
        ul
          each technology in thisProjData.technologies
            li= technology
        a.button.expanded(href=`${thisProjData.live_link}`, target='_blank') Live Demo
        a.button.expanded(href=`${thisProjData.github_link}`, target='_blank') GitHub Repo
    img.image(src=`${thisProjData.image_urls[1]}`)
    img.image(src=`${thisProjData.image_urls[2]}`)
    img.image(src=`${thisProjData.image_urls[3]}`)